<div id="<%= dom_id blog %>">
  <p>
    <strong>Blog image:</strong>
    <%= blog.blog_image %>
  </p>

  <p>
    <strong>Blog title:</strong>
    <%= blog.blog_title %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= blog.date_created %>
  </p>

  <p>
    <strong>Comments counter:</strong>
    <%= blog.comments_counter %>
  </p>

  <p>
    <strong>Blog text:</strong>
    <%= blog.blog_text %>
  </p>

</div>
