<p style="color: green"><%= notice %></p>

<header class="aboutheader">
  <h2><%= @blog.blog_title %></h2>
  <h3><%= link_to "Home", root_path %> <span>-</span>Our Blogs</h3>
</header>

<main class="blogsPage">
  <div id="<%= dom_id @blog %>">
  <p>
    <% if @blog.blog_image.attached? %>
      <image src="<%= (url_for(@blog.blog_image))%>">
    <% end %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= @blog.date_created %>
  </p>

  <p>
    <strong>Comments counter:</strong>
    <%= @blog.comments_counter %>
  </p>

  <p>
    <strong>Written by:</strong>
    <%= @blog.user.names %>
  </p>

  <p>
    <strong>Blog text:</strong>
    <%= @blog.blog_text %>
  </p>

</div>

</main>