<main class="devise">
  <h2 class="header">Welcome to My Kuku! Let's Create an account for you</h2>

  <section class="signup">
    <div class="signupleft">
      <%= image_tag("devise/signup.png", alt: "Sign up image") %>
    </div>

    <div class="signupright">
      <h2>Create an account by filling all of the fields</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="signupinput">
          <%= f.text_field :names, placeholder: "Your name" %>
        </div>

        <div class="signupinput">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@email.com" %>
        </div>

        <div class="signupinput">
          <%= f.text_field :location, placeholder: "Your location" %>
        </div>

        <div class="signupinput">
          <%= f.number_field :mobile_number, placeholder: "Your Mobile number" %>
        </div>

        <div class="signupinput">
          <%= f.label :profile_photo %>
          <%= f.file_field :profile_photo %>
        </div>

        <div class="signupinput">
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Your password" %>
        </div>

        <div class="signupinput">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
        </div>

        <div class="devisesubmit">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
    </div>
  </section>

  

<%= render "devise/shared/links" %>
</main>
