<div id="<%= dom_id chicken %>">
  <p>
    <strong>Tag number:</strong>
    <%= chicken.tag_number %>
  </p>

  <p>
    <strong>Chicken images:</strong>
    <%= chicken.chicken_images %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= chicken.age %>
  </p>

  <p>
    <strong>Date hatched:</strong>
    <%= chicken.date_hatched %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= chicken.parent_id %>
  </p>

</div>
