<p style="color: green"><%= notice %></p>

<header class="aboutheader">
  <h2>Chickens</h2>
  <h3><%= link_to "Home", root_path %> <span>-</span>Chickens</h3>
</header>

<main class="chickens">
  <% if user_signed_in? %>
    <div class="newchickenlink">
      <h2 class="darkgreentext">Let's create a new chicken</h2>
      <p><%= link_to "New Chicken", new_chicken_path %></p>
    </div>
  <% end %>
  <section >
    <% if @chickens.empty? %>
      <h2>There are no created chickens yet</h2> 
    <% else %>
      <% @chickens.each do |chicken| %>
        <div class="chicken">
          <p>
            <% @chickens.each do |chicken| %>
              <% chicken.chicken_images_attachments.each do |attachment| %>
                <% if attachment.blob.present? %>
                  <img src="<%= url_for(attachment.blob) %>">
                <% end %>
              <% end %>
            <% end %>
          </p>

          <p>
            <strong>Tag number:</strong>
            <%= chicken.tag_number %>
          </p>

          <p>
            <%= link_to "Chicken Details", chicken %>
          </p>
        </div>
      <% end %>
    <% end %>
  </section>

</main>