<p style="color: green"><%= notice %></p>

<header class="aboutheader">
  <h2>Chickens</h2>
  <h3><%= link_to "Home", root_path %> <span>-</span>Chickens</h3>
</header>

<main class="chickens">
  <section >
    <% @chickens.each do |chicken| %>
      <p>
        <strong>Tag number:</strong>
        <%= chicken.tag_number %>
      </p>

      <p>
        <% @chickens.each do |chicken| %>
          <% chicken.chicken_images_attachments.each do |attachment| %>
            <% if attachment.blob.present? %>
              <img src="<%= url_for(attachment.blob) %>">
            <% end %>
          <% end %>
        <% end %>
        
      </p>

      <p>
        <strong>Age:</strong>
        <%= chicken.age %>
      </p>

      <p>
        <strong>Date hatched:</strong>
        <%= chicken.date_hatched %>
      </p>

      <p>
        <strong>Parent:</strong>
        <%= chicken.parent_id %>
      </p>
      <p>
        <%= link_to "Show this chicken", chicken %>
      </p>
    <% end %>
    

  </section>

</main>

<%= link_to "New chicken", new_chicken_path %>
