<footer class="footer">
  <section class="footerWrapper">
    <div class="left">
      <h2>My <span>Kuku</span></h2>
      <p class="lightgraytext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora ad cumque, eveniet</p>
      <ul class="socials">
        <li><a href="https://github.com/Nemwel-Boniface" class="socisl-icons" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/nemwel_bonie" class="socisl-icons" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="http://instagram.com/its_n.e.m.w.e.l" class="socisl-icons" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/nemwel-nyandoro-aa1b2620b" class="socisl-icons" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <div class="middle">
      <h2>Our links</h2>
      <ul class="links">
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i><%= link_to "Home", root_path, class: ""%></li>
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i><%= link_to "About Us", abouts_path, class: ""%></li>
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i><%= link_to "Contact Us", "#", class: ""%></li>
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i><%= link_to "Sign In", "#", class: ""%></li>
        <li><i class="fa fa-chevron-right" aria-hidden="true"></i><%= link_to "About Us", "#", class: ""%></li>
      </ul>
    </div>

    <div class="right">
      <h2>Newsletters</h2>
      <form>
        <input type="email" placeholder="example@gmail.com" required>
        <button type="submit">SEND</button>
      </form>
    </div>
  </section>

  <div class="desgnedby">
    <p>Designed with <i class="fa fa-heart" aria-hidden="true"></i> By <a href="https://www.linkedin.com/in/nemwel-nyandoro" target="_blank">Nemwel.</a></p>
  </div>
</footer>