<header class="header">
  <nav class="navbar">
    <div class="desktopnav">
      <h2><%= link_to 'My Kuku', root_path, class: "navbar-brand"%></h2>
      <ul>
        <li class="nav-item">
          <%= link_to "About Us", abouts_path, class: ""%>
        </li>|
        <li class="nav-item">
          <%= link_to "Contact us", contacts_path, class: ""%>
        </li>|
        <li class="nav-item">
          <%= link_to "Sign In", "#", class: ""%>
        </li>|
        <li class="nav-item">
          <%= link_to "About Us", "#", class: ""%>
        </li>
      </ul>
    </div>
  </nav>
</header>